<xml>
    <base>perl</base>
    <log>
        <!--<console/>-->
        <win32color/>
    </log>
    
    <tpl name='calc' file='calc.tpl' />
    
    <types>
        <type ext='png'      type='image/png'  life='8h' cacheLimit='40k' cacheTotal='4m' />
        <type ext='jpg,jpeg' type='image/jpeg' life='8h'/>
        <type ext='gif'      type='image/gif'  life='8h' cacheLimit='10k' cacheTotal='4m' />
        <type ext='html,htm' type='text/html' />
        <type ext='js'       type='application/javascript' />
        <type ext='json'     type='application/json' />
    </types>
    
    <mode name='default'>
        <module name='calc_perm_flat'   file='Framework::Core::Permission::Method::Flatfile' store='flat_perms.xml'/>
        <module name='calc_perm_man'    file='Framework::Core::Permission::Manager::Default' method='calc_perm_flat' />
    
        <module name='calc' file='CoreMod::calc' />
        
        <module name='tpl_engine'>
            <!-- <moduleref name='l' mod='layout' /> -->
        </module>
        
        <module name='file_server' file='Framework::Core::File::Server::Default'/>
        
        <module name='web_request'>
            <ip>172.22.27.152</ip>
        </module>
        
        <module name='web_router'>
            <session name='APP' perms='calc_perm_man' />
            <routes file='routes.xml'/>
        </module>
        
        <init>
            <call mod='web_router' func='read_routes'/>
            <call mod='web_request' func='run' />
            <call mod='web_request' func='wait_threads' />
        </init>
    </mode>
    
    <mode name='virt'>
    
    </mode>
</xml>