<xml>
    <base>perl</base>
    <log>
        <console/>
        <win32color/>
    </log>
    
    <tpl name='main' file='main.tpl' />
    <tpl name='header_a' file='header.tpl' />
    <tpl name='nav' file='nav.tpl' />
    
    <types>
        <type ext='png'      type='image/png'  life='8h' cacheLimit='40k' cacheTotal='4m' />
        <type ext='jpg,jpeg' type='image/jpeg' life='8h'/>
        <type ext='gif'      type='image/gif'  life='8h' cacheLimit='10k' cacheTotal='4m' />
        <type ext='html,htm' type='text/html' />
        <type ext='js'       type='application/javascript' />
        <type ext='json'     type='application/json' />
    </types>
    
    <mode name='default'>
        <module name='ex_perm_flat'   file='App::Core::Permission::Method::Flatfile' store='flat_perms.xml'/>
        <module name='ex_perm_man'    file='App::Core::Permission::Manager::Default' method='ex_perm_flat' />
    
        <module name='example' file='CoreMod::example' />
        <module name='header' file='CoreMod::header' />
        
        <module name='tpl_engine' file='App::Core::Template::Engine::TextTemplate'>
            <!-- <moduleref name='l' mod='layout' /> -->
        </module>
        
        <module name='file_server' file='App::Core::File::Server::Default'/>
        
        <module name='web_request'>
            <ip>172.22.27.152</ip>
        </module>
        
        <module name='web_router'>
            <session name='APP' perms='ex_perm_man' />
            <routes file='routes.xml'/>
        </module>
        
        <init>
            <call mod='web_router' func='read_routes'/>
            <call mod='web_request' func='run' />
            <call mod='web_request' func='wait_threads' />
        </init>
    </mode>
    
    <mode name='virt'>
    
    </mode>
</xml>